./target/
.idea/
*.iml
*.jar
*.txt
*.lst
.metadata
.classpath
/.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
./SIT_ProveOfConcept/
*.target/
.SIT_ProveOfConcept/
local.properties
.settings/
.apt_generated/
.target/
.loadpath
.recommenders
.classpath
.project
/SIT_ProveOfConcept/
*.SIT_ProveOfConcept/
.target
/target/

